### Тема “Обучение с учителем”

#### Задача 1

Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn.
Создайте датафреймы X и y из этих данных.
Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [233]:
import numpy as np
import pandas as pd

In [234]:
# Функция load_boston загружает датасет. Загрузим его в переменную boston.
from sklearn.datasets import load_boston

In [235]:
# Загрузим датасет в переменную boston.
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [236]:
# Описание всего датасета можно получить по ключу "DESCR".
print(boston["DESCR"])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [237]:
# Создадим DataFrame под именем Х, где будут храниться признаки.
# В качестве названий для столбцов возьмём массив feature_names.
X = pd.DataFrame(boston["data"], columns=boston["feature_names"])
X.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10

In [238]:
# Выведем информацию об этой таблице.
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [239]:
# Cоздадим таблицу y , в которую запишем целевые значения.
y = pd.DataFrame(boston["target"], columns=["price"])
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

Разбиение данных на тренировочную и тестовую выборку можно выполнить с помощью функции
train_test_split из модуля sklearn.model_selection .

In [240]:
from sklearn.model_selection import train_test_split

In [241]:
# размер тестовой выборки установим 30% от всех данных.
# Если подать число большее или равное 1, это будет число объектов в тестовой выборке.

#np.random.seed(42)
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print(X_train.head())

         CRIM   ZN  INDUS  CHAS    NOX     RM   AGE     DIS   RAD    TAX  \
5     0.02985  0.0   2.18   0.0  0.458  6.430  58.7  6.0622   3.0  222.0
116   0.13158  0.0  10.01   0.0  0.547  6.176  72.5  2.7301   6.0  432.0
45    0.17142  0.0   6.91   0.0  0.448  5.682  33.8  5.1004   3.0  233.0
16    1.05393  0.0   8.14   0.0  0.538  5.935  29.3  4.4986   4.0  307.0
468  15.57570  0.0  18.10   0.0  0.580  5.926  71.0  2.9084  24.0  666.0

     PTRATIO       B  LSTAT
5       18.7  394.12   5.21
116     17.8  393.30  12.04
45      17.9  396.90  10.21
16      21.0  386.85   6.58
468     20.2  368.74  18.13

Метод random.seed() задает начальные условия для генератора случайных чисел.
Генератор инициализированный одними и теми же начальными условиями, выдает абсолютно идентичные случайные последовательности.
Параметры: seed - целое положительное число. Число в интервале [0, 2**32] - определяет внутреннее состояние генератора.

In [242]:
# Загрузим модель линейной регрессии.
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [243]:
# Чтобы обучить модель, мы используем метод .fit , в который передаём нашу тренировочную выборку.
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Mодель обучена.

In [244]:
# Получим предсказанные значения на объектах X_test с помощью метода .predict
y_pred = lr.predict(X_test)
y_pred.shape

(152, 1)

Создадим таблицу DataFrame чтобы сопоставить реальные значения с предсказанными. Поскольку
массив y_pred является двумерным, переведём его в одномерный, используя метод .flatten .

In [245]:
check_test = pd.DataFrame({
"y_test": y_test["price"],
"y_pred": y_pred.flatten(),
})
check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

Вычислим R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.
R2 может принимать отрицательное значение при плохой обобщающей способности модели.
Чем ближе R2 к 1, тем лучше обобщающая способность модели.

In [246]:
from sklearn.metrics import r2_score

In [247]:
R2 = r2_score(y_test, y_pred)
R2

0.711226005748496

### Задача 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble. 
Сделайте агрумент n_estimators равным 1000, 
max_depth должен быть равен 12 и random_state сделайте равным 42. 
Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression, 
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0], 
чтобы получить из датафрейма одномерный массив Numpy, 
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма. 
Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания. 
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [248]:
# Загрузим модель регрессии случайного леса.
# Чтобы обучить модель, мы используем метод .fit , в который передаём нашу тренировочную выборку.
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [249]:
# Получим предсказанные значения на объектах X_test с помощью метода .predict
y_pred_fr = model.predict (X_test)
y_pred_fr

array([22.84613791, 31.15611352, 16.29722565, 23.82103598, 17.21214765,
       21.82009184, 19.86636868, 14.75993798, 21.2352238 , 20.88310344,
       20.11747257, 19.98569932,  8.04139649, 21.47152808, 19.36056421,
       25.22123965, 18.86267442,  8.48509459, 45.8517    , 15.50158646,
       24.38461149, 23.98476408, 14.54325214, 23.5866156 , 15.02972553,
       15.26939983, 21.56389708, 13.95762333, 19.62523439, 21.0338126 ,
       19.6773222 , 23.23122956, 30.04524357, 20.12497811, 14.40836619,
       16.0512163 , 34.29058623, 19.18070898, 21.11179576, 24.23279505,
       18.63348333, 29.54059089, 45.5721    , 19.62260746, 22.57463812,
       13.9461684 , 15.72148872, 24.47776906, 19.12640766, 28.25341645,
       21.36055927, 33.88579611, 17.70003733, 26.2955691 , 45.52367393,
       21.87518392, 15.85920641, 32.42684361, 22.15625161, 20.61280516,
       25.46784804, 33.69946617, 30.09116874, 19.02315904, 27.12221893,
       16.92785667, 13.87709764, 23.11178339, 28.86580833, 15.60364655,
       20.70795365, 28.5290223 , 10.40633229, 22.1418881 , 22.25060709,
        6.84662173, 20.02223942, 46.1973    , 11.22845578, 12.343395  ,
       21.66915975, 11.71659804, 19.98149887,  9.27621074, 20.84652411,
       26.88144104, 15.8958322 , 23.2535284 , 23.79278583, 17.82707623,
       21.83262465,  7.31787286, 19.95161966, 19.27256457, 23.37919204,
       19.83480499, 38.20809056, 11.79317982, 12.5927831 , 12.41957102,
       20.42505088, 23.88342033, 13.55444435, 20.22670719, 20.67802653,
       12.58880048, 19.17249923, 24.81936387, 19.95662379, 23.48218529,
        9.03444976, 15.32997333, 22.80138742, 25.46902515, 31.71841255,
       14.75428768, 41.7279    , 16.40476451, 19.71150765, 24.27892467,
       19.23919822, 24.12584183,  7.95409071, 20.75961658, 24.74901182,
       21.6133435 , 23.9988962 , 35.10695276, 16.85049752, 45.0257    ,
       15.02175426, 23.64409229, 19.62671988, 18.56029182, 14.00582163,
       21.14303979, 20.7126355 , 31.62374567, 28.91108   , 17.41963516,
       19.08059003, 25.00681308, 20.24787998, 18.43730524,  6.88261571,
       21.78167131, 16.94242321, 13.48770675, 15.13239528, 42.9107    ,
       15.63498922, 16.09654905])

In [250]:
# Создадим таблицу DataFrame чтобы сопоставить реальные значения с предсказанными.
check_test_fr = pd.DataFrame({
"y_test": y_test["price"],
"y_pred": y_pred_fr,
})
check_test_fr.head(10)

     y_test     y_pred
173    23.6  22.846138
274    32.4  31.156114
491    13.6  16.297226
72     22.8  23.821036
452    16.1  17.212148
76     20.0  21.820092
316    17.8  19.866369
140    14.0  14.759938
471    19.6  21.235224
500    16.8  20.883103

In [251]:
# Вычислим R2 полученных предказаний ((r2_score - коэффициент детерминации) функция оценки регрессии.)
R2_fr = r2_score(y_test, y_pred_fr)
R2_fr

0.8749965273218174

Вывод: модель регрессии случайного леса работает лучше, так как R2_fr=0.87 > R2=0.71

#### Задание 3

Вызовите документацию для класса RandomForestRegressor, 
найдите информацию об атрибуте feature_importances_. 
С помощью этого атрибута найдите сумму всех показателей важности, 
установите, какие два признака показывают наибольшую важность.

In [252]:
from sklearn.ensemble import RandomForestRegressor

In [253]:
?RandomForestRegressor

Информация об атрибуте feature_importances_ :
feature_importances_ : ndarray of shape (n_features,)
    The feature importances (the higher, the more important the feature).

In [254]:
# Выведем показатели важности и их значения.
importances=model.feature_importances_
t_importances=np.vstack((X_test.columns, importances)).T
t_importances

array([['CRIM', 0.03211747801029039],
       ['ZN', 0.0015499893488862256],
       ['INDUS', 0.007094098492215253],
       ['CHAS', 0.0011487958307451888],
       ['NOX', 0.014368315731541832],
       ['RM', 0.402704591696731],
       ['AGE', 0.014244766864655404],
       ['DIS', 0.06403265381454112],
       ['RAD', 0.004967618842627067],
       ['TAX', 0.011691768621898036],
       ['PTRATIO', 0.018089605464908655],
       ['B', 0.012311395829965457],
       ['LSTAT', 0.4156789214509943]], dtype=object)

In [255]:
# Отсортируем показатели важности в порядке возрастания их значениий.
sort_importances = t[t[:,1].argsort(), :]
sort_importances

array([['CHAS', 0.0011487958307451888],
       ['ZN', 0.0015499893488862256],
       ['RAD', 0.004967618842627067],
       ['INDUS', 0.007094098492215253],
       ['TAX', 0.011691768621898036],
       ['B', 0.012311395829965457],
       ['AGE', 0.014244766864655404],
       ['NOX', 0.014368315731541832],
       ['PTRATIO', 0.018089605464908655],
       ['CRIM', 0.03211747801029039],
       ['DIS', 0.06403265381454112],
       ['RM', 0.402704591696731],
       ['LSTAT', 0.4156789214509943]], dtype=object)

In [256]:
# Найдем сумму показателей важности. Она стремится к 1.
sum_importances = sum(model.feature_importances_)
sum_importances

0.9999999999999999

In [257]:
# Выведем наибольший показатель важности.
max_importances = max(model.feature_importances_)
max_importances

0.4156789214509943

In [258]:
# Как видим, два признака с наибольшей важностью: 'LSTAT'(importances_max1) и 'RM'(importances_max2)
importances_max1, importances_max2 = sorted(t[:,1])[-1], sorted(t[:,1])[-2]
print (importances_max1, importances_max2)

0.4156789214509943 0.402704591696731